## Overview

* Environment: <%= environment %>
* Coordinated pipeline: <%= coordinated_pipeline_link %>
* Auto-deploy package: <%= auto_deploy_package %>

<% pipelines.each do |pipeline| %>
### Pipeline: <% pipeline.web_url %>

  <% pipeline.jobs.each do |job| %>
* **<%= job.web_url %>**

```
<%= job.errors %>
```
  <% end -%>
<% end -%>
